<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8">
        <meta name="referrer" content="no-referrer">
        <title>{{ get('title') or 'meta search' }}</title>

	<style>
	.photo {width:150px;}
	.photo img {max-width:150px; max-height:150px}
	.clear {clear:both;line-height:2px;border-bottom:1px dotted gray}
	.name {}
	</style>

        <!-- bootsrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
		<form method="{{ get('method') or 'GET' }}" action="/" id="search_form">
			<div id="search_wrapper">
				<input type="text" placeholder="" id="q" class="q" name="q" tabindex="1" autocomplete="off" size="50" value="{{ get('q') }}"/>
				<input type="submit" value="search" id="search_submit" />
			</div>
		</form>
		{{!get('base')}}
    </body>
</html>
