% rebase("index.html")
<div class="container">
  <h2>Результаты запросов</h2>
  <ul class="nav nav-pills">
  % class_active = 'active'
  % for item in headers:
      <li class="{{ class_active }}"><a data-toggle="pill" href="#tab{{item.get('id')}}">{{item.get('q')}}</a></li>
  % class_active = ''
  % end
  </ul>
  
  <div class="tab-content">
    % class_active = 'active'  
    % for result in results:
    <div id="tab{{result.get('id') }}" class="tab-pane fade in {{ class_active }}">
      <table border="1" width="100%">
        % for item in result.get('items'):
        <tr>
          <td class="photo" width="150">
            % if item.get('photo'):
            <img src="{{item['photo']}}" />
            % end
          </td>
          <td>
            <div class="title">
              <a href="{{ item['url'] }}">{{ item['title'] }}</a>         
            </div>
            <div class="content">{{ item['content'] }} <br /> {{ item['added_local'] }}</div>
          </td>
          <td width="200">
            <div class="price"><nobr>{{ item.get('price') }}</nobr></div>
            <div class="from">{{ item['engine'] }}</div>
          </td>
        </tr>
        % end
      </table>
    </div>
    % class_active = ''
    % end
  </div>
</div>
